@import "tailwindcss" source("../../app");
@import "./syntax-highlight.css";
@import "./colors.css";
@plugin "@tailwindcss/typography";
/* @import "./article.css"; */

.prose {
	--tw-prose-body: var(--color-gray-12);
	--tw-prose-bold: var(--color-gray-12);
	--tw-prose-headings: var(--color-gray-12);
	--tw-prose-links: var(--color-green-10);
	--tw-prose-code: var(--color-gray-12);
	--tw-prose-quotes: var(--color-gray-11);
	--tw-prose-pre-bg: #1E1E1E;
	--tw-prose-counters: var(--color-gray-11);

	:where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before,
	:where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
		content: "";
	}

	max-width: 100%;
}
